<div class="body">
  <header>
    <h1>
      {{#link-to "roadmaps"}}
        coconut estate
      {{/link-to}}
    </h1>
  </header>

  <div class="page">
    {{outlet}}
  </div>

  <footer>
    <ul>
      <li>
        {{#link-to "about" class="button"}}
          about
        {{/link-to}}
      </li>

      <li>
        {{#link-to "contact" class="button"}}
          contact
        {{/link-to}}
      </li>
    </ul>
  </footer>
</div>
