#######################
#     secrets         #
#######################
#
dev.env
prod.env

##########################
# rust compilation cache #
##########################
#
deploy-artifacts
target

########################
#     terraform        #
########################
#

terraform/prod/.terraform
terraform/**/*.tfvars

########################
#     website          #
########################
#

# compiled output
/website/dist
/website/tmp

# dependencies
/website/node_modules
/website/bower_components

# misc
/website/.sass-cache
/website/connect.lock
/website/coverage/*
/website/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
