html {
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

.body {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  min-height: 75%;

  display: flex;
  flex-direction: column;
}

.everything-but-footer {
  flex: 1 0 auto;
}

.top-of-web-page {
  display: flex;
  align-content: space-between;
}

.top-of-web-page header {
  display: inline-block;
  flex-grow: 2;
}

.top-of-web-page .sign-in-cta-or-profile {
  display: inline-block;
}


header h1 {
  color: #3B9EDB;
}

a {
  text-decoration: none;
  color: #3B9EDB;
}

a.active {
  font-weight: bold;
}

footer {
  flex-shrink: 0;
}

footer ul {
  border-top: 1px solid black;
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 5px;
}

.sign-in .emailOrUsername, .email, .sign-in .password {
  margin-right: 5px;
}

.sign-out-link, .sign-up-link, .create-roadmap-button, .update-profile-button {
  margin-left: 5px;
}

.sign-up input, .sign-up button {
  display: block;
  margin-top: 5px;
}
