html {
  font-family: sans-serif;
}

.body {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

header h1 {
  color: #3B9EDB;
}

a {
  text-decoration: none;
  color: #3B9EDB;
}

a.active {
  font-weight: bold;
}

.sign-in-cta-or-profile {
  float: right;
}

footer ul {
  border-top: 1px solid black;
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 5px;
}

.sign-in .emailOrUsername, .email, .sign-in .password {
  margin-right: 5px;
}

.sign-out-link, .sign-up-link {
  margin-left: 5px;
}

.sign-up input {
  display: block;
  margin-top: 5px;
}
