body {
  font-family: sans-serif;
  max-width: 640px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 5px;
  display: inline;
}

a {
  text-decoration: none;
  color: green;
}
