[Unit]
Description=Secrets keeper
After=network.target

[Service]
Type=simple
User=coconut
WorkingDirectory=/home/coconut
Environment=RUST_LOG=actix_web=info,secrets_keeper=debug
ExecStart=/home/coconut/secrets-keeper run --location /mnt/secrets-keeper/ --binding 0.0.0.0:8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
