[Unit]
Description=Secrets keeper
After=network.target

[Service]
Type=simple
User=coconut
WorkingDirectory=/home/coconut
Environment=RUST_LOG=warp=debug,secrets_keeper=debug
ExecStart=/mnt/secrets-keeper/secrets-keeper run --location /mnt/secrets-keeper/secrets --binding 0.0.0.0:8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
