<div class="roadmap">
  <h3>
    {{#link-to "roadmaps.show" roadmap}}
      {{ roadmap.name }}
    {{/link-to}}

    <small title={{ format-roadmap-time roadmap.createdAt 'friendly' }}>
      ({{ format-roadmap-time roadmap.createdAt 'relative' }})
    </small>
  </h3>

  <button {{action "destroy" roadmap}}>Destroy</button>
</div>
