<div class="roadmap">
  <h3>
    {{ roadmap.name }}

    <small title={{ format-roadmap-time roadmap.createdAt 'friendly' }}>
      ({{ format-roadmap-time roadmap.createdAt 'relative' }})
    </small>
  </h3>
</div>
